Repository fletcheaston/Experiments: changes, and which pre-commit hooks are due for each by the changed paths.
All: control/lint, control/format, advent-of-code/lint, advent-of-code/format

control/lint:
  name: control/lint
  entry: bash -c 'cd control && make lint'
  language: system

control/format:
  name: control/format
  entry: bash -c 'cd control && make format'
  language: system

advent-of-code/lint:
  name: advent-of-code/lint
  entry: bash -c 'cd advent-of-code && make lint'
  language: system

advent-of-code/format:
  name: advent-of-code/format
  entry: bash -c 'cd advent-of-code && make format'
  language: system

🧹 Last cleanups before reverting.
  blog/Makefile
  blog/docs/my-freight-cube.md
  control/app_blog/urls.py
  control/server/urls.py
Due: control/lint, control/format

🧹 Similar cleanups from the monolith branch without the major reworks
  Makefile
  advent-of-code/.isort.cfg
  advent-of-code/Makefile
  advent-of-code/poetry.lock
  advent-of-code/poetry.toml
  advent-of-code/pyproject.toml
  advent-of-code/solution.py
  advent-of-code/tests/fixtures.py
  blog/.isort.cfg
  blog/Makefile
  blog/poetry.lock
  blog/poetry.toml
  blog/pyproject.toml
  blog/template-aoc.md
  blog/template-aot.md
  my-freight-cube/Makefile
  my-freight-cube/src/app/layout.tsx
  my-freight-cube/tsconfig.json
  poetry.lock
  poetry.toml
  pyproject.toml
Due: advent-of-code/lint, advent-of-code/format

🧹 Final cleanups for now, back to writing
  .gitignore
  .pre-commit-config.yaml
  Makefile
  advent-of-code/Dockerfile
  advent-of-code/Makefile
  blog-components/Makefile
  blog-components/package.json
  blog-components/tsconfig.json
  blog-components/webpack.config.ts
  blog-components/webpack.tsconfig.json
  blog/Dockerfile
  blog/Makefile
  blog/app.py
  blog/docs/extras/blog-components.css
  blog/docs/extras/blog-components.js.LICENSE.txt
  blog/mkdocs.yaml
  blog/poetry.lock
  blog/pyproject.toml
Due: none

📝 Docs for days 14, 15, and 16
  advent-of-code/src/year_2023/day_10.py
  advent-of-code/src/year_2023/day_14.py
  advent-of-code/src/year_2023/day_15.py
  advent-of-code/src/year_2023/day_16.py
  blog/docs/projects/advent-of-code/2023/day-14.md
  blog/docs/projects/advent-of-code/2023/day-15.md
  blog/docs/projects/advent-of-code/2023/day-16.md
  blog/mkdocs.yaml
Due: advent-of-code/lint, advent-of-code/format

📝 Docs for days 17-20
  advent-of-code/src/year_2023/day_17.py
  advent-of-code/src/year_2023/day_18.py
  advent-of-code/src/year_2023/day_20.py
  blog/docs/images/advent-of-code/2023/day-18/path-1.png
  blog/docs/images/advent-of-code/2023/day-18/path-2.png
  blog/docs/images/advent-of-code/2023/day-18/path-3.png
  blog/docs/images/advent-of-code/2023/day-18/path-4.png
  blog/docs/images/advent-of-code/2023/day-18/path-5.png
  blog/docs/images/advent-of-code/2023/day-18/path-6.png
  blog/docs/projects/advent-of-code/2023/day-17.md
  blog/docs/projects/advent-of-code/2023/day-18.md
  blog/docs/projects/advent-of-code/2023/day-19.md
  blog/docs/projects/advent-of-code/2023/day-20.md
Due: advent-of-code/lint, advent-of-code/format

📝 Started docs for day 24
  advent-of-code/poetry.lock
  advent-of-code/src/year_2023/day_24.py
  blog/docs/projects/advent-of-code/2023/day-24.md
Due: advent-of-code/lint, advent-of-code/format

Path conditions:
  control/lint: any of: ^control/ and \.py$
  control/format: any of: ^control/ and \.py$
  advent-of-code/lint: any of: ^advent-of-code/ and \.py$
  advent-of-code/format: any of: ^advent-of-code/ and \.py$
